.exercise-new-lateral-spaces{
    margin-right: 100px !important;
    margin-left: 100px !important;
}
.exercise-new-card-space{
    margin-top: 180px;
}
.exercise-new-form-space{
    margin-top: 140px;
}